In [12]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [13]:
data = pd.read_csv('dataset/Social_Network_Ads.csv')
data.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [14]:
X = data.iloc[:, [2, 3]].values
y = data.iloc[:, 4].values

In [24]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.36)

## Feature Scaling needed since both features are of different scales

In [25]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

C:\Users\admin\Anaconda31\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

## Fitting Logistic Regression to the Training set

In [26]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [27]:
y_pred = classifier.predict(X_test)

## Evaluating the model for testing and training data

In [28]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print (cm)

[[94  8]
 [11 31]]

In [29]:
from sklearn.metrics import classification_report
print("Classification report for testing data \n", classification_report(y_test,y_pred))

Classification report for testing data
              precision    recall  f1-score   support

          0       0.90      0.92      0.91       102
          1       0.79      0.74      0.77        42

avg / total       0.87      0.87      0.87       144

In [30]:
print("Classification report for training data \n", classification_report(y_train,classifier.predict(X_train)))

Classification report for training data
              precision    recall  f1-score   support

          0       0.82      0.91      0.87       155
          1       0.84      0.70      0.76       101

avg / total       0.83      0.83      0.82       256